<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/player.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
  <script src="https://unpkg.com/gsap@3.9.0/dist/Draggable.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/gp/favicon-play/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/gp/favicon-play/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/gp/favicon-play/favicon-16x16.png">
  <!-- <link rel="manifest" href="/assets/gp/favicon-play/site.webmanifest"> -->
</head>

<body id="endPoint" name="<%= playlist %>" style=<%= size %>>
  <div class="full-hd-container">
    <!-- VIDEO LAYER -->
    <div class="full-hd-container" id="videoPlayer" onclick="handlePlays()">
      <!-- BACK VIDEO -->
      <div class="full-hd-container">
        <video preload="auto" class="back-video" width="1920" height="1080" id="video-bg" playsinline autoplay muted loop webkit-playsinline="true">
          <source src="" type="video/webm">
        </video>
      </div>
      <!-- FRONT VIDEO -->
      <video preload="auto" class="front-video" width="1920" height="1080" id="video" playsinline autoplay muted loop webkit-playsinline="true">
        <source src="<%= bg %>" type="<%= vidType %>">
      </video>
    </div>
    <!-- IMAGE LAYER -->
    <div class="full-hd-container" id="imageDisplay" hidden>
      <!-- BACK IMAGE -->
      <div id="backImage" class="full-hd-container back-image">
      </div>
      <!-- FRONT IMAGE -->
      <div id="frontImage" class="full-hd-container front-image">
        <img id="mainImage" src="" alt="" style="height: 100%;">
      </div>
    </div>
    <!-- WEB GRAPHICS LAYER -->
    <div class="full-hd-container" id="webDisplay" hidden>
      <iframe id="webIframe" src="/" width="1920" height="1080" frameBorder="0" hidden></iframe>
    </div>
    <!-- BOTTOM DARK VIGN -->
    <div id="bottom-dark-blur" class="bottom-dark-blur"></div>
    <!-- UI LAYOUT -->
    <div id="layoutBuildUp">
      <!-- PLAYLIST MENU -->
      <div id="theMenu" class="menu-container">
      </div>
      <!-- DRAWING CANVAS -->
      <canvas class="full-hd-container" id="paintCanvas" width="1920" height="1080" hidden></canvas>
      <!-- HEADLINE -->
      <div id="videoTitleToggle" style="opacity: 0;">
        <div id="playing-title" class="video-title"><%= title %></div>
      </div>
      <!-- PLAYLISTS PAGE -->
      <div id="playlists-icon" class="playlists-icon" onclick="window.location.assign('/playlists')"></div>
      <!-- BUTTONS -->
      <div id="menuToggle" style="position: absolute; opacity: 0; left: 240px;">
        <!-- VIDEO CONTROLS -->
        <div id="seek" style="position: relative; opacity: 0;">
          <div id="play-icon" class="pause-icon" onclick="handlePlays()"></div>
          <input id="seekslider" class="seekslider" type="range" min="0" max="1500" value="0">
          <!-- <div id="timecode" class="timecode">00:00</div> -->
        </div>
        <div id="zoom-icon" hidden class="zoom-icon" onclick="toggleZoom()"></div>
        <div id="menuPosIcon" class="menuPos-icon" onclick="handleMenuPreview()"></div>
        <div id="home-icon" class="home-icon" onclick="resetScrollPos(); setImage(''); setUrl(''); handleSelect('b_0'); playVideo('<%= bg %>', 'loop', 'muted', 'noPlayButtons', '1', '0.04');"></div>
        <!-- DRAWING UI -->
        <div id="art-icon" class="art-icon" onclick="manageDraws()"></div>
        <div id="blue-circle" hidden class="blue-circle" onclick="manageColors('#004f98')"></div>
        <div id="red-circle" hidden class="red-circle" onclick="manageColors('#ee2e31')"></div>
        <div id="green-circle" hidden class="green-circle" onclick="manageColors('#2eee6e')"></div>
        <div id="yellow-circle" hidden class="yellow-circle" onclick="manageColors('#eee42e')"></div>
        <div id="black-circle" hidden class="black-circle" onclick="manageColors('#080808')"></div>
        <div id="white-circle" hidden class="white-circle" onclick="manageColors('#f8f8ff')"></div>
        <div id="erase-square" hidden class="erase-square" onclick="toggleEraseMode(true)"></div>
      </div>
    </div>
    <script src="/assets/js/player.js"></script>
</body>

</html>